<!DOCTYPE html>

<html lang="es">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">	
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="stylesheets/index_style00.css">
		<link rel="stylesheet" href="stylesheets/index_style01.css">
	</head>

	<body>

		<div class="container">
			<header>
				<nav id="barra" class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1">
								<span class="sr-only">Menu</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="index.html">
								<img src="img/logo.png" alt="Fundamentos de Programación">
        					</a>
						</div>

						<div class="collapse navbar-collapse" id="navbar-1">
							<ul class="nav navbar-nav navbar-right">
								<li  class="active"><a href="#">Administracion</a></li>
								<li class="dropdown active"> 
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Reportes<span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="reporte/fecha">Reporte por Fecha</a></li>
										<li><a href="reporte/curso">Reporte por Ejercicios</a></li>
									</ul>
								</li>	
							</ul>
						</div>

					</div>
				</nav>
			</header>			
			
			<section class="container-fluid">
				<div class="row">
					<ul class="nav nav-tabs">
					    <li class="active"><a data-toggle="tab" href="#seccion1">Usuarios</a></li>
					    <li><a data-toggle="tab" href="#seccion2">Cursos</a></li>
					</ul>

					<div class="tab-content">
					    
					    <div id="seccion1" class="tab-pane fade in active">					    	
							<!-- <div class="panel-group col-xs-7 col-md-8" id="panelColl"> -->
					        <br>
					        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#usuarioMDL">
					        	Nuevo
					        </button>
					        <br><br>
					        <p id="msjSec1"></p>
					        <br>

					        <div id="usuariosTabla"></div>
								
					    </div>

					    <div id="seccion2" class="tab-pane fade">	
					    	<br>				    	
					        <button type="button" class="btn btn-default btn-sm" onclick="cargaProf()" data-toggle="modal" data-target="#cursoMDL">
					        	Nuevo
					        </button>
					        <br><br>
					        <p id="msjSec2"></p>
					        <br>

					        <div id="cursosTabla"></div>

					    </div>

					</div>
				</div>
			</section>


			<!-- 
			/*******************************/
			/* Modal's de pestana usuarios */
			/*******************************/ 
			-->

			<!-- Modal Usr Nuevo-->
			<div class="modal fade" id="usuarioMDL" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
					    <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal">&times;</button>
					        <h4><span class="glyphicon glyphicon-list-alt"></span> Nuevo Usuario </h4>
					    </div>
					    <div class="modal-body">
					   		<!-- <form action="" onSubmit="enviarDatos(); return false"> -->
						    	<div class="input-group"> <label for="rol">Roles</label>
									<select class="form-control" id="rol" onchange="tipoIdentif()">
										<option>Profesor</option> <option>Ayudante</option> 
										<option selected>Estudiante</option> <option>Administrador</option>
									</select>
							    </div>
							    <br>
							    <div class="input-group">
								    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
								    <input id="ident" type="text" class="form-control input-sm" name="ident" placeholder=" Ingrese matrícula">
							    </div>
							    <br>
						        <div class="input-group">
								    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
								    <input id="nombre" type="text" class="form-control input-sm" name="nombre" placeholder="Nombre">
							    </div>
							    <br>
							    <div class="input-group">
								    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
								    <input id="apellido" type="text" class="form-control input-sm" name="apellido" placeholder="Apellido">
							    </div>
							    <br>
							    <div class="input-group">
								    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
								    <input id="carrera" type="text" class="form-control input-sm" name="carrera" placeholder="Carrera">
							    </div>
							    <br>
							    <div class="input-group">
								    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
								    <input id="correo" type="text" class="form-control input-sm" name="correo" placeholder="Email">
							    </div>
							    <br>
							    <div class="input-group">
								    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
								    <input id="pass" type="password" class="form-control input-sm" name="pass" placeholder="Contrasena">
							    </div>
							    <br>
						        <p id="msjMDL"></p>
						        <br>
							    <div class="form-group">
							    	<button type="btn" id="btnAdd" class="btn">Agregar</button>
							    </div>
							<!-- </form> -->
					    </div>
					</div>
				</div>		
			</div>
			<!-- Fin Modal Usr Nuevo-->

			<!-- Modal Usr Editar-->
			<div class="modal fade" id="usrEditMDL" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
					    <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal">&times;</button>
					        <h4><span class="glyphicon glyphicon-list-alt"></span> Actualizar Usuario </h4>
					    </div>
					    <div class="modal-body">
					    	<div class="input-group">
							    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
							    <input id="edit_ident" type="text" class="form-control input-sm" name="ident" placeholder=" Ingrese matrícula">
						    </div>
						    <br>
					        <div class="input-group">
							    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
							    <input id="edit_nomb" type="text" class="form-control input-sm" name="nombre" placeholder="Nombre">
						    </div>
						    <br>
						    <div class="input-group">
							    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
							    <input id="edit_apel" type="text" class="form-control input-sm" name="apellido" placeholder="Apellido">
						    </div>
						    <br>
						    <div class="input-group">
							    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
							    <input id="edit_carr" type="text" class="form-control input-sm" name="carrera" placeholder="Carrera">
						    </div>
						    <br>
						    <div class="input-group">
							    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
							    <input id="edit_correo" type="text" class="form-control input-sm" name="correo" placeholder="Email">
						    </div>
						    <br>
						    <div class="input-group">
							    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
							    <input id="edit_pass" type="password" class="form-control input-sm" name="pass" placeholder="Contrasena">
						    </div>
						    <br>
						    <p id="edit_rol" visible="false"></p>
						    <p id="edit_id" visible="false"></p>
						    <br>
					        <p id="msjMDL"></p>
					        <br>
						    <div class="form-group">
						    	<button type="btn" id="btnAct" class="btn" >Actualizar</button>
						    </div>
					    </div>
					</div>
				</div>		
			</div>
			<!-- Fin Modal Usr Editar-->


			<!-- Modal Usr Eliminar-->
			<div class="modal fade" id="usrElitMDL" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
					    <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal">&times;</button>
					        <h4><span class="glyphicon glyphicon-list-alt"></span> Eliminar Usuario </h4>
					    </div>
					    <div class="modal-body">

					    	<p> Seguro desea eliminar el usuario...?</p>
					    	
					        <div class="input-group">
					        	<span> Nombre: </span><p id="eli_nomb"></p>
						    </div>
						    <div class="input-group">
						    	<span> Correo: </span><p id="eli_correo"></p>
						    </div>
						    <p id="eli_id" visible="false"></p>
						    <br>
					        <p id="msjMDL"></p>
					        <br>
						    <div class="form-group">
						    	<button type="btn" id="btnElim" class="btn" >Eliminar</button>
						    </div>
					    </div>
					</div>
				</div>		
			</div>
			<!-- Fin Modal Usr Eliminar-->



			<!-- 
			/*****************************/
			/* Modal's de pestana cursos */
			/*****************************/ 
			-->

			<!-- Modal Curso-->
			<div class="modal fade" id="cursoMDL" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
					    <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal">&times;</button>
					        <h4><span class="glyphicon glyphicon-list-alt"></span> Nuevo Curso </h4>
					    </div>
					    <div class="modal-body">
						    <div class="input-group">
							    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
							    <input id="paraleloCurso" type="text" class="form-control input-sm" name="paralelo" placeholder=" Ingrese paralelo ">
						    </div>						    						    
						    <br>
						    <div class="input-group">
							    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
							    <input id="profCurso" type="text" class="form-control input-sm" name="profesor" placeholder=" Profesor ">
						    </div>
						    <p id="profCurso_id" visible="false"></p>						    						    
						    <br>
						    <div id="profTabla"></div>
						    <p id="saveMsj"></p>
						    <div class="form-group">
						    	<button type="btn" id="btnAdd" class="btn">Agregar</button>
						    </div>							
					    </div>
					</div>
				</div>		
			</div>
			<!-- Fin Modal Curso-->


			<!-- Modal Curso Estud-->
			<div class="modal fade" id="cursoEstudMDL" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
					    <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal">&times;</button>
					        <h4><span class="glyphicon glyphicon-list-alt"></span> Agregar Estudiante </h4>
					    </div>
					    <div class="modal-body">
						    <p id="estudCursoid"></p>
						    <p id="estudSN_id" visible="false"></p>							    						    
						    <br>
						    <div id="EstTabla"></div>
						    <p id="saveMsj"></p>						    						
					    </div>
					</div>
				</div>		
			</div>
			<!-- Fin Modal Curso Estud-->


			<!-- Modal Curso Estud Edit-->
			<div class="modal fade" id="cursoEdtEstudMDL" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
					    <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal">&times;</button>
					        <h4><span class="glyphicon glyphicon-list-alt"></span> Estudiantes del paralelo </h4>
					    </div>
					    <div class="modal-body">
						    <!-- <p id="estQuitaPar_id" visible="false"></p> -->	
						    <div id="EstParalTbl"></div>
						    <p id="saveMsj"></p>						    						
					    </div>
					</div>
				</div>		
			</div>
			<!-- Fin Modal Curso Estud Edit-->


			<!-- Modal Curso Prof-->
			<div class="modal fade" id="cursoProfMDL" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
					    <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal">&times;</button>
					        <h4><span class="glyphicon glyphicon-list-alt"></span> Editar Profesor del Curso </h4>
					    </div>
					    <div class="modal-body">
						    <div class="input-group">
							    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
							    <input id="paralEditCrs" type="text" class="form-control input-sm" name="paralelo" placeholder=" Ingrese paralelo ">
						    </div>						    						    
						    <br>
						    <div class="input-group">
							    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
							    <input id="profEditCrs" type="text" class="form-control input-sm" name="profesor" placeholder=" Profesor ">
						    </div>
						    <p id="paralEditCrs_id" visible="false"></p>	
						    <p id="profEditCrs_id" visible="false"></p>						    						    
						    <br>
						    <div id="profEditTabla"></div>
						    <p id="saveMsj"></p>
						    <div class="form-group">
						    	<button type="btn" id="btnAct" class="btn">Actualizar</button>
						    </div>							
					    </div>
					</div>
				</div>		
			</div>
			<!-- Fin Modal Curso Prof-->


			<!-- Modal Curso Eliminar-->
			<div class="modal fade" id="cursoEliMDL" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
					    <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal">&times;</button>
					        <h4><span class="glyphicon glyphicon-list-alt"></span> Eliminar Curso </h4>
					    </div>
					    <div class="modal-body">

					    	<p> Seguro desea eliminar el curso...?</p>
					    	
					        <div class="input-group">
					        	<span> Paralelo: </span><p id="eli_paral"></p>
						    </div>
						    <div class="input-group">
						    	<span> Profesor: </span><p id="eli_prof"></p>
						    </div>
						    <p id="eliCrs_id"></p>
						    <br>						    
						    <p id="eliCrsMsj"></p>
						    <div class="form-group">
						    	<button type="btn" id="btnElim" class="btn" >Eliminar</button>
						    </div>
					    </div>
					</div>
				</div>		
			</div>
			<!-- Fin Modal Curso Eliminar-->

			
			<footer>
				<div id="sub-footer">
					<div class="container2">
						<div class="row">
							<div class="col-lg-6">
								<div class="copyright">
									<P>Guayaquil, Ecuador</p>
									<p>© Escuela Superior Politecnica del Litoral. All right reserved.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>

		</div>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
  		<script type="text/javascript" src="javaScript/index_Usuario.js"></script>  		
  		<script type="text/javascript" src="javaScript/index_Curso.js"></script>  	

	</body>

</html>