<html>
<head>
	<title></title>
	<meta charset="UTF-8">
</head>
<body>
	<div>
		<p>Nombre<span id="name"></span></p>
		<p>puntaje obtenido<span id="puntaje"></span></p>
		<p>ejercicos completados<span id="ejercicios"></span></p>
		<ul id="insignias"></ul>

	</div>
</body>
</html>