<html>
<head>
	<title>Módulo de Reportes</title>
	<meta charset="UTF-8">
</head>
<body>

<div action="" method="post">
	<input  id ="fechaInicio" type="date">
	<input id ="fechaFin" type="date">
	<button id ="enviar">Enviar</button>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js">
</script>
<script src="https://code.highcharts.com/highcharts.js">
</script>

<script src="/javaScript/reporte.js">
</script>

<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>


</body>
</html>